{% extends "default:index.html" %}

{% block content %}
<h1>Geonomia</h1>
<p>
Geonomia is a project to discover collecting trips in GBIF-mediated 
preserved specimen occurrence data, as a step towards effective 
cross-institutional georeferencing.

<h2> About</h2>
It is an entry into the 2026 <a href="https://www.gbif.org/ebbe">GBIF Ebbe Nielsen Challenge</a>, and is being 
developed by a team from RBG Kew (Nicky Nicolson, Steve Bachman and 
Ashleigh Whittaker) plus input and experience from the wider biodiversity 
informatics community.  

<h2>How to use</h2>
This site site shows the results of a run-through of the geonomia process 
for botanical specimens collected in Malaysia, and is intended to demonstrate 
the potential of the approach.

You can:

<p>
Explore the <i>specimen occurrence</i> data by <a href="/geonomia/occ?_facet=cluster_stage1_id&cluster_stage1_id=191.0">listing all occurrences assigned to a particular trip</a> or 
 viewing a specific occurrence that has been assigned to a collecting trip e.g. <a href="/geonomia/occ/9536">Beaman 10725</a><div class=""></div>
</p>
<p>
Explore the <i>collecting trips</i> by <a href="/geonomia/cluster">listing all the trips</a> recognised in the dataset, or by
viewing the details of a particular trip, e.g. <a href="/geonomia/cluster/211">Chew 1964</a>
</p>
<p>
    <a href="/geonomia?_show_hidden=1"></a>Explore the schema</a> for the underlying database and use some pre-defined queries:
    <ul>
        <li><a href="/geonomia/specimen_locator" title="Query to locate a specimen based on collector surname, record number, and year.">Specimen Locator</a></li>
        <li><a href="/geonomia/who_was_there" title="Query to indicate which collectors were present during a specific time period.">Who Was There?</a></li>
    </ul>
</p>

<h2>Get involved</h2>
The project is being developed in the open, and we 
welcome contributions and feedback from anyone interested in the project. 
Please see our <a href="https://github.com/geonomia">GitHub repository</a> 
for more information and ways to get involved.

<!-- {{ SPACE_HOST }}-->

{{ super() }}
{% endblock %}