{% extends "default:index.html" %}

{% block content %}
<h1>Geonomia</h1>
<p>
Geonomia is a project to discover collecting trips in GBIF-mediated 
preserved specimen occurrence data, as a step towards effective 
cross-institutional georeferencing.

<h2> About</h2>
It is an entry into the 2026 <a href="https://www.gbif.org/ebbe">GBIF Ebbe Nielsen Challenge</a>, and is being 
developed by a team from RBG Kew (Nicky Nicolson, Steve Bachman and 
Ashleigh Whittaker) plus input and experience from the wider biodiversity 
informatics community.  

<h2>How to use</h2>
This site site shows the results of a run-through of the geonomia process 
for botanical specimens collected in Malaysia, and is intended to demonstrate 
the potential of the approach.

You can:
<ul>
    <li>Explore the occurrence data</li>
        <li><a href="https://nickynicolson-geonomia-my-07cd456.hf.space/geonomia/occ?_facet=cluster_stage1_id&cluster_stage1_id=191.0">List all occurences assigned to a particular trip</a></li>
        <li>View a specific occurrence that has been assigned to a collecting trip e.g. <a href="https://nickynicolson-geonomia-my-07cd456.hf.space/geonomia/occ/9536">Beaman 10725</a></li>
    <li>Explore the collecting trips</li>
    <ul>
        <li><a href="https://nickynicolson-geonomia-my-07cd456.hf.space/geonomia/cluster">List the trips</a> recognised in the dataset</li>
        <li>View the details of a particular trip, e.g. <a href="https://nickynicolson-geonomia-my-07cd456.hf.space/geonomia/cluster/211">Chew 1964</a></li>
    </ul>
    <li><a href="https://nickynicolson-geonomia-my-07cd456.hf.space/geonomia?_show_hidden=1">Explore the schema and run arbitrary SQL queries</a></li>
</ul>

<h2>Get involved</h2>
The project is being developed in the open, and we 
welcome contributions and feedback from anyone interested in the project. 
Please see our <a href="https://github.com/geonomia">GitHub repository</a> 
for more information and ways to get involved.

<!-- {{ SPACE_HOST }}-->

{{ super() }}
{% endblock %}